[submodule "./icarus/connectivity"]
	path = ./icarus/connectivity
	url = https://github.com/bilkosem/connectivity-bot.git
[submodule "icarus/connectivity"]
	path = icarus/connectivity
	url = https://github.com/bilkosem/connectivity-bot.git
